
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px 20px 24px;
}

.view {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  line-height: 114%;
  text-align: center;
}

.touch {
  width: 131px;
  height: 48px;
  background-color: #ff6b00;
  margin: 30px 90px 100px 90px;
  text-align: center;
  border: transparent;
  color: #fff;
  font-weight: 700;
}

.touch:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.touch:active {
  background: #e05304;
  color: #f4f1f0;
}

.footer {
  border-color: black;
}

.footer > .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

.contact > li > a {
  width: 36px;
  height: 36px;
  color: #505f79;
}

.web > a :hover {
  color: blue;
}

.line-three {
  width: 125%;
  border: 1px solid #172b4d;
  align-self: flex-start;
  margin-top: 25px;
  margin-left: -24px;
}

.input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding: 22px 0 12px 0;
}

.box {
  width: 327px;
  height: 114px;
  text-align: start;
  margin-top: 20px;
  border: transparent;
  background-color: #fbf8f7;
}

.box:hover {
  border: 2px solid blue;
}

.line-four {
  width: 33%;
  border: 5px solid black;
  border-radius: 4px;
  align-self: center;
}

@media screen and (min-width: 992px) {
  .contact-form {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: left;
    width: 100%;
  }

  .view-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 0 auto;
    gap: 38px;
    text-align: left;
  }

  .view {
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    line-height: 114%;
    text-align: left;
  }

  .view br {
    display: none;
  }

  form {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
  }

  .touch {
    width: 131px;
    height: 48px;
    background-color: #ff6b00;
    text-align: center;
    border: transparent;
    color: #fff;
    font-weight: 700;
    margin: 30px 10px 85px 0;
  }

  .touch:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .touch:active {
    background: #e05304;
    color: #f4f1f0;
  }

  .box {
    width: 642px;
    height: 144px;
    text-align: start;
    margin-top: 20px;
    border: transparent;
    background-color: #fbf8f7;
  }

  .box:hover {
    border: 2px solid blue;
  }

  .footer > .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    list-style: none;
  }

  .contact-form > .line-three {
    background-color: #dfe1e6;
    opacity: 0.2;
    align-self: center;
    margin-top: 25px;
    width: 160%;
    margin-left: -10%;
  }

  .line-four {
    display: none;
  }
}
