.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3c3a3c;
  color: azure;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: #1c1a19;
  color: azure;
  padding: 120px 24px 120px 24px;
  background-image: url("Group.png");
  background-repeat: no-repeat;
  background-position: bottom -36px right;
  max-width: 100%;
}

.bars > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 22px;
  list-style-type: none;
  padding-right: 30px;
}

.logo > a {
  font-size: 22px;
  text-decoration: none;
  padding-left: 20px;
  list-style-type: none;
  color: #fff5e1;
}

.menu-box a {
  text-decoration: none;
  color: #fff5e1;
}

.contacts > li > a {
  color: #dbd8d7;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}

.menu-list > li > a {
  color: #dbd8d7;
  font-size: 36px;
  text-decoration: none;
  border-bottom: solid white;
}

.bars > ul > li > a {
  display: none;
}

.bars > ul > .humburger {
  display: block;
}

.contacts > li {
  list-style-type: none;
}

.time > .icon-left > li:hover {
  color: greenyellow;
}

.icon-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  list-style-type: none;
}

.cancel {
  text-align: end;
  margin-right: 30px;
}

.cancel:hover {
  color: #f00;
}

.intro {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 64px;
  margin-bottom: 0;
}

.title {
  color: #fff5e1;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}

.text {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
  
  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c3a3c;
    color: azure;
    width: 100vw;
  }

  .logo > a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    list-style-type: none;
    color: #fff5e1;
    margin-left: 130px;
  }

  .logo {
    animation: move 5s;
  }

  @keyframes move {
    50% { transform: rotate(360deg); }
  }

  .time {
    display: none;
  }

  .bars > ul > li > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: #fff5e1;
  }

  .bars > ul > li > a:hover {
    border-bottom: 5px solid #ff6b00;
  }

  .bars {
    margin-right: 130px;
  }

  .bars > ul > li > a > .hide {
    border: 2px solid #67798e;
    border-radius: 4px;
  }

  .main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    padding-left: 40px;
    color: azure;
    padding-right: 50%;
    background-image: url("Group-all.png"), url("group-all.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom -90px right -40px, top -120px right -40px;
  }

  .unordered > .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 22px;
    margin-top: 120px;
    color: #cfcfcf;
  }
}
