.pop-up {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 5%;
  margin: 5%;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  background-color: white;
  overflow: auto;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.close-button {
  font-size: 2rem;
  cursor: pointer;
}

.tech {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  line-height: 110%;
  color: #091e42;
  padding: 0 60px 0 0;
  gap: 12px;
}

.tech li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
  padding: 3%;
  max-height: 40px;
}

.pop-up-buttons {
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.pop-up-button {
  background-color: #ff6b00;
  padding: 12px;
  margin: 3%;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: white;
  border: none;
}

.pop-up-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#desktop-image {
  display: none;
}

.popup-lists > li {
  border: 1px solid gray;
  padding: 10px;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-buttons > button {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #f4f5f7;
  background-color: #ff6b00;
  border-color: transparent;
}

.pop-up-desk {
  display: none;
}

.works {
  display: grid;
  justify-content: center;
  grid-template-columns: 327px;
  padding: 120px 24px 120px 24px;
}

.title-one {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  font-weight: 400;
}

.line {
  width: 327px;
  color: #212121;
  align-self: center;
}

.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("image/backimg.png");
  background-repeat: no-repeat;
}

.click {
  width: 124px;
  height: 48px;
  text-align: center;
  background: #ff6b00;
  border-color: transparent;
  color: #f4f5f7;
}

.click:hover {
  border: 2px solid blue;
}

.click-two {
  width: 327px;
  height: 48px;
  text-align: center;
  background: #ff6b00;
  border-color: transparent;
  color: #f4f5f7;
}

.click-two:hover {
  border: 2px solid blue;
}

.post {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  line-height: 108%;
  color: #091e42;
  font-weight: 400;
}

.para-one {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  line-height: 124%;
  vertical-align: top;
  color: #091e42;
}

.web {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  line-height: 110%;
  color: #091e42;
  padding: 0 60px 0 0;
  gap: 12px;
}

.web > li {
  padding-top: 10px;
}

.web > .css {
  width: 49px;
  height: 30px;
  list-style: none;
  border: 1px solid black;
  text-align: center;
}

.web > .html {
  width: 56px;
  height: 30px;
  list-style: none;
  border: 1px solid black;
  text-align: center;
}

.web > .boot {
  width: 95px;
  height: 30px;
  list-style: none;
  border: 1px solid black;
  text-align: center;
}

.web > .ruby {
  width: 61px;
  height: 30px;
  list-style: none;
  border: 1px solid black;
  text-align: center;
}

.data {
  padding: 0 16px 0 16px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  line-height: 108%;
  vertical-align: top;
  color: #fff;
}

.para-two {
  padding: 0 16px 0 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  line-height: 124%;
  vertical-align: top;
  color: #fff;
}

.web-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 16px 0 16px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  line-height: 110%;
  color: #fff;
  padding-bottom: 20px;
}

.web-two > .html {
  width: 56px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  list-style: none;
  text-align: center;
}

.web-two > .boot {
  width: 95px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  list-style: none;
  text-align: center;
}

.web-two > .ruby {
  width: 61px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  list-style: none;
  text-align: center;
}

.card-three > .y {
  display: none;
}

@media screen and (min-width: 992px) {
  #desktop-image {
    display: block;
  }

  #mobile-image {
    display: none;
  }

  .pop-up-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pop-up-text p {
    padding: 5%;
  }

  .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
  }

  .part-one {
    display: grid;
    grid-template-columns: auto auto;
  }

  .part-two > img {
    height: 415px;
  }

  .title-one {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
    font-weight: 400;
    width: 350px;
  }

  .line {
    width: 525px;
    color: #212121;
    align-self: center;
  }

  .part-two {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    height: 500px;
  }

  .card-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 315px;
    padding-top: 0;
  }

  .post {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    line-height: 108%;
    color: #091e42;
    font-weight: 400;
  }

  .para-one {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    line-height: 124%;
    vertical-align: top;
    color: #091e42;
  }

  .web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    line-height: 110%;
    color: #091e42;
    padding-bottom: 60px;
    gap: 12px;
  }

  .web > li {
    padding-top: 10px;
  }

  .web > .css {
    width: 49px;
    height: 30px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
  }

  .web > .html {
    width: 56px;
    height: 30px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
  }

  .web > .boot {
    width: 95px;
    height: 30px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
  }

  .web > .ruby {
    width: 61px;
    height: 30px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
  }

  .click {
    width: 124px;
    height: 68px;
    padding: 15px 2px;
    text-align: center;
    background: #ff6b00;
    border-color: transparent;
    color: #f4f5f7;
  }

  .click:hover {
    border: 2px solid blue;
  }

  .click-two {
    display: none;
  }

  .card-two > .x {
    display: none;
  }

  .card-three > .y {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("image/backimg1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-three > .y:hover {
    background: url("image/backimg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .card-three > .y:hover .click-two {
    display: block;
  }

  .part-three > .card-three {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 12px;
  }

  .card-three > .y > .data {
    padding: 0 16px 0 16px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    line-height: 108%;
    vertical-align: top;
    color: #fff;
  }

  .part-three > .card-three > .y > .para-two {
    padding: 0 16px 0 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    line-height: 124%;
    vertical-align: top;
    color: #fff;
  }

  .part-three > .card-three > .y > .web-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    line-height: 110%;
    color: #fff;
  }

  .y > .web-two > .html {
    width: 56px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    list-style: none;
    text-align: center;
  }

  .y > .web-two > .boot {
    width: 95px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    list-style: none;
    text-align: center;
  }

  .y > .web-two > .ruby {
    width: 61px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    list-style: none;
    text-align: center;
  }
}
